= render "layouts/flash"
.wrapper
  = render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        %h1
          = @group.name
      = link_to edit_group_path(@group) do
        .chat-main__header--group-edit
          %p Edit
    .chat-main__header--members
      %h4
        member:
        - @members.each do |member|
          = member.name

  .chat-main__body
    .chat-main__body--message-lists
      = render @messages

  .chat-main__footer
    .chat-main__footer-form
      = form_for [@group, @message], id: "new_message" do |f|
        .chat-main__footer-form--body
          = f.text_field :body, placeholder: "type a message", class: "message"
          = f.label :image, class: "chat-file" do
            = f.file_field :image, style: "display: none", class: 'hidden'
            %i.fa.fa-picture-o
        = f.submit "Send", class: "submit"


